@mixin clear-margins() {
  margin: 0;
  padding: 0;
}

$body-background-color: lighten($base-color, 20%);
$container-background-color: #DDD;

html, body {
  @include clear-margins;
}

body {
  background-color: $body-background-color;
}

p:last-child {
  margin-bottom: 0;
}

.container {
  @include outer-container;
}

.column {
  padding: em(15);
  background-color: $container-background-color;
}

.large-column {
  @extend .column;
  @include span-columns(18 of 24);
  background-color: $container-background-color;
}

.small-column {
  @extend .column;
  @include span-columns(6 of 24);
  background-color: $container-background-color;
}

.header-wrapper {
  width: 100%;
  background-color: $container-background-color;
}

.header, .footer {
  @include outer-container;
  margin: auto;
  background-color: $container-background-color;
  margin: {
    left: auto;
    right: auto;
  }
}

.header {
  padding: .5em;
  background-color: white;

  #logo {
    width: 50px;
    height: 50px;
    background: no-repeat url('../assets/images/logo.png') center center;
    background-size: 50px 50px;
    float: left;
  }

  ul {
    li {
      display: inline-block;
      margin: .2em;
      a {
        @include border-left-radius(.3em);
        @include border-right-radius(.3em);
        border: 1px solid $base-color;
        display: inline-block;
        padding: .5em;
        min-width: 5em;
        text-align: center;
        &:hover {
          @include transition(all .2s ease-in-out);
          background-color: $base-color;
          color: white;
        }
      }
    }
  }
}

.footer {
  position: fixed;
  @include border-top-radius(.3em);
  border: 1px solid $base-color;
  border-bottom: none;
  padding: 1em;

  bottom: 0;
  left: 1em;
  right: 1em;
}
