@mixin clear-margins() {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Emulogic";
  src: url('../assets/fonts/emulogic.ttf');
}

$body-background-color: lighten($base-color, 20%);
$container-background-color: #DDD;

html, body {
  @include clear-margins;
}

body {
  color: white;
  background: repeat url('../assets/images/background.jpg') center center;
  font-family: "Emulogic", Courier;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}

p:last-child {
  margin-bottom: 0;
}

.container {
  @include outer-container;
}

.column {
  padding: em(15);
  background-color: $container-background-color;
}

.large-column {
  @extend .column;
  @include span-columns(18 of 24);
  background-color: $container-background-color;
}

.small-column {
  @extend .column;
  @include span-columns(6 of 24);
  background-color: $container-background-color;
}

.header-wrapper {
  width: 100%;
  background-color: $container-background-color;
}

.header, .footer {
  @include outer-container;
  margin: auto;
  background-color: transparent;
  margin: {
    left: auto;
    right: auto;
  }
}

.splash-screen {
  margin-top: 50px;
  #logo {
    margin: auto;
    width: 753px;
    height: 236px;
    background: transparent no-repeat url('../assets/images/logo.png') center center;
    background-size: 753px 236px;
  }
}

.footer {
  position: fixed;
  @include border-top-radius(.3em);
  border: 2px dashed white;
  border-bottom: none;
  padding: 1em;

  bottom: 0;
  left: 1em;
  right: 1em;
}
