@mixin clear-margins() {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Emulogic";
  src: url('../assets/fonts/emulogic.ttf');
}

$body-background-color: lighten($base-color, 20%);
$container-background-color: #DDD;

html, body {
  @include clear-margins;
}

body {
  color: white;
  background: repeat url('../assets/images/background.jpg') center 0px fixed;
  font-family: "Emulogic", Courier;
  @include transition(background .8s ease-in-out);

  &.slide-out {
    background-position: center -200px;
  }
}

a {
  text-decoration: none;
  color: white;
  transform: none;
  transition: none;
  &:hover, &:link, &:visited, &:active {
    color: white;
  }
}

p:last-child {
  margin-bottom: 0;
}

.container {
  @include outer-container;
}

.column {
  padding: em(15);
  background-color: $container-background-color;
}

.large-column {
  @extend .column;
  @include span-columns(18 of 24);
  background-color: $container-background-color;
}

.small-column {
  @extend .column;
  @include span-columns(6 of 24);
  background-color: $container-background-color;
}

.header-wrapper {
  width: 100%;
  background-color: $container-background-color;
}

.header, .footer {
  @include outer-container;
  margin: auto;
  background-color: transparent;
  margin: {
    left: auto;
    right: auto;
  }
}

.splash-screen {
  margin-top: 50px;
  @include transition(all 1s ease-in-out);

  &.playing {
    margin-top: -100%;
  }

  #logo {
    margin: auto;
    width: 753px;
    height: 236px;
    background: transparent no-repeat url('../assets/images/logo.png') center center;
    background-size: 753px 236px;
  }

  #play {
    @include border-top-radius(.5em);
    @include border-bottom-radius(.5em);
    border: 3px dashed white;
    background: linear-gradient(to bottom, rgba(128,0,128,0), rgba(128,0,128,1));
    font-size: 5em;
    width: 400px;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    line-height: 1em;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: darken(#800080, 5%);
    }

    a {
      display: inline-block;
      padding: .3em;
      padding-top: .2em;
    }
  }
}

.footer {
  position: fixed;
  @include border-top-radius(.3em);
  border: 3px dashed white;
  border-bottom: none;
  padding: 1em;

  bottom: 0;
  left: 1em;
  right: 1em;
}
