h1 Credits

hr

h2 Music
a(href="http://grayscale.scene.pl/msx_archive.php?lang=en") Grayscale archives

h2 Graphics
a(href="http://www.ux-republic.com/") UX Republic

h2 Developpers
a(href="http://www.xebia.fr/") XebiaFr

hr

a(href="#{{ 'home' | routeSegmentUrl }}") &lt; Back
