@include keyframes(on-leave) {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -100px;
  }
}

@include keyframes(on-load-header) {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: 0px;
  }
}

@include keyframes(on-load-game) {
  0% {
    margin-top: 2000px;
  }
  100% {
    margin-top: -300px;
  }
}

@include keyframes(on-leave-game) {
  0% {
    margin-top: -300px;
  }
  100% {
    margin-top: 2000px;
  }
}

.header {
  @include animation(on-load-header .6s ease-in-out forwards);
  &.slide-out {
    @include animation(on-leave .6s ease-in-out forwards);
  }
  ul {
    text-align: right;
    li {
      display: inline-block;
    }
  }
}

.game {
  @include animation(on-load-game .8s ease-in-out forwards);
  &.slide-out {
    @include animation(on-leave-game .8s ease-in-out forwards);
  }

  @include border-top-radius(1em);
  @include border-bottom-radius(1em);
  position: absolute;
  background-color: white;
  padding: 1em;
  height: 500px;
  width: 800px;
  margin-top: -300px;
  margin-left: -400px;
  top: 50%;
  left: 50%;
  color: $base-color;

  .game-area {
    @include span-columns(12 of 24);
    margin: 0;
    padding: 0;
    height: 400px;
    &:first-child {
      border-right: 3px dashed $base-color;
    }
    text-align: center;
    span {
      display: inline-block;
      img {
        @include filter(grayscale(1));
        image-rendering: pixelated;
        width: 340px;

        &:hover {
          @include filter(none);
          image-rendering: auto;
        }
      }
      height: 400px;
      width: 340px;
      border: 3px solid $base-color;
      overflow: hidden;

      &:hover {
        border-color: red;
        cursor: pointer;
        cursor: hand;
      }
    }
  }

  .who-am-i {
    clear: both;
    padding: 30px;
    text-align: center;
    background-color: white;
  }
}
