div.header
    ul
        li
            | {{ score }} / {{ totalTry }}
        li
            loader(loading=true)
        li
            a(href='', ng-click='openModal()') Surrend

div.leave(ng-if='modal')
    div.leave-modal
        | Are you sure ?
        a(href='' ng-click='giveUp()') Yes
        | &nbsp;/&nbsp;
        a(href='' ng-click='closeModal()') No

div.game(ng-class="{'slide-out': stopping}")
    div(ng-if='question')
        div.game-area.firstImage
            span(ng-click="chooseImage('firstImage')")
                img(ng-if="question.firstImage" src="{{ question.firstImage }}")
        div.game-area.secondImage
            span(ng-click="chooseImage('secondImage')")
                img(ng-if="question.secondImage" src="{{ question.secondImage }}")
        div.who-am-i
            span(ng-if="result === null") Who is "{{ question.name | normalize }}" ?
            span(ng-if="result !== null" ng-style="{color: result ? 'green': 'red'}") {{ result ? "CORRECT !" : "WRONG !" }}

audio(autoplay=true, loop=true src="http://grayscale.scene.pl/msx/404error.mp3")
