div.header
    ul
        li
            loader(loading=true)
        li
            a(href='', ng-click='openModal()') Surrend

div.leave(ng-if='modal')
    div.leave-modal
        | Are you sure ?
        a(href='' ng-click='giveUp()') Yes
        | &nbsp;/&nbsp;
        a(href='' ng-click='closeModal()') No

div.game(ng-class="{'slide-out': stopping}")
    div(ng-if='question')
        div.game-area.firstImage
            span
                img(ng-if="question.firstImage" src="{{ question.firstImage }}")
        div.game-area.secondImage
            span
                img(ng-if="question.secondImage" src="{{ question.secondImage }}")
        div.who-am-i
            | Who is "{{ question.name | normalize }}" ?

audio(autoplay=true, loop=true src="http://grayscale.scene.pl/msx/404error.mp3")
