div.header
    ul
        li
            a(href='', ng-click='giveUp()') Surrend

div.game(ng-class="{'slide-out': stopping}")
    div.game-area
        img(src="http://www.obsessedwithconformity.com/wp-content/uploads/keyser-soze11.jpg")
    div.game-area
        img(src="http://www.metroactive.com/papers/metro/05.29.97/gifs/brassed-off2-9722.jpg")
    div.who-am-i
        | Who is Kaiser Soze ?
