doctype html
html(ng-app='app.xwhois')

    head
        title XWhois
        meta(name='description', content='XWhois')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='styles.css', rel='stylesheet', type='text/css')
        script(type='text/javascript', src='libs/vendors.js')
        script(type='text/javascript', src='app.final.js')

    body(ng-class="{'slide-out': playing}")
        section.container(app-view-segment='0')
        footer.footer
            ul
                li
                    a(href='') &copy; 2015 - Xebia
