@include keyframes(on-click-play) {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: -100%;
  }
}

@include keyframes(on-load-splash) {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 50px;
  }
}

@include keyframes(on-load-footer) {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}

@include keyframes(on-leave-footer) {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -100px;
  }
}

.footer {
  @include animation(on-load-footer .6s ease-in-out forwards);
  &.slide-out {
    @include animation(on-leave-footer .6s ease-in-out forwards);
  }
}

.splash-screen {
  @include animation(on-load-splash 1s ease-in-out forwards);
  &.slide-out {
    @include animation(on-click-play 1s ease-in-out forwards);
  }

  .slogan {
    text-align: center;
  }

  .informations {

    @include border-top-radius(1em);
    @include border-bottom-radius(1em);
    background-color: white;
    padding: 1em;
    padding-bottom: 1.5em;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    color: $base-color;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.8);

    .me {
      border-bottom: 3px dashed $base-color;
      padding-bottom: .5em;
    }

    .exp {
      z-index: 50;
      position: absolute;
      margin-left: 40px;
      margin-top: -25px;
      > div {
        float: left;
      }

      .xp .xp-values {
        padding-left: 8px;
      }
    }

    .avatar {
      @include transform(rotate(-7deg));
      position: absolute;
      border: 3px solid white;
      width: 80px;
      margin-left: -30px;
      margin-top: -30px;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.8);
      -webkit-backface-visibility: hidden;
      z-index: 51;

      img {
        width: 100%;
        height: 100%;
        display: block;
        @include filter(grayscale(1));
        image-rendering: pixelated;
      }
    }

    .scores {
      margin-left: 70px;
      table {
        td {
          &:first-child {
            border-right: 3px dashed $base-color;
          }
          &:nth-child(2) {
            width: 20%;
            padding-left: 20px;
          }
        }
      }
    }

  }

  #logo {
    margin: auto;
    width: 753px;
    height: 236px;
    background: transparent no-repeat url('../../../assets/images/logo.png') center center;
    background-size: 753px 236px;
  }

  #play {
    @include border-top-radius(40px);
    @include border-bottom-radius(40px);
    border: 3px solid $base-color;
    background: linear-gradient(to top, rgba(128, 0, 128, 0), darken(#800080, 5%));
    width: 400px;
    margin: auto;
    margin-top: -1em;
    text-align: center;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: darken(#800080, 5%);
      border: 3px dashed white;
    }

    a {
      font-size: 5em;
      display: inline-block;
      padding: .1em;
      padding-top: 0em;
    }
  }
}
